.contact {
  padding-top: 10.4rem;
  padding-left: 2.4rem;
  padding-right: 2.4rem;
  display: grid;
  align-items: center;
  font-weight: bold;
  font-size: 5.3rem;
  line-height: 5.3rem;
}

.content,
.big {
  font-weight: bold;
  font-size: 5.3rem;
  line-height: 5.3rem;
}
