@use 'src/assets/scss/as/responsive' as *;

.header,
.menu {
  width: 100vw;
  box-sizing: border-box;
  padding: 2.4rem;
  display: grid;
  grid-template-columns: auto 1fr;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;

  .logo {
    height: 3.2rem;
  }

  .link {
    z-index: 1;
  }

  .end {
    justify-self: end;

    button {
      pointer-events: all;
    }
  }
}

.header {
  pointer-events: none;

  .nav {
    display: none;
  }

  .end {
    justify-self: end;

    button {
      pointer-events: all;
    }
  }
}

.menu {
  height: 100vh;
  grid-template-rows: auto 1fr;
  gap: 4.8rem 0;
  background: white;
  z-index: 1;
  justify-self: end;

  ul {
    grid-column: 1 / span 2;
  }
}

ul.nav {
  li {
    a {
      display: inline-block;
      line-height: 4rem;

      &.active {
        border-bottom: solid 1px rgb(16, 24, 32);
      }
    }
  }
}

@include md {
  .header {
    .view-list {
      display: none;
    }

    .end {
      display: none;
    }

    .link {
      pointer-events: all;
    }

    .nav {
      justify-self: end;
      display: flex;

      li {
        margin-right: 2.4rem;
        pointer-events: all;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}
